#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#

#define BASE 	0
#define MEDR 	1
#define NAVR 	2
#define MOUS 	3
#define NUM  	4
#define SYMB 	5
#define FUNC 	6
#define BLE  	7

#define BT_CLR BT_CLR_CMD 0
#define BT_NXT BT_NXT_CMD 0
#define BT_PRV BT_PRV_CMD 0
#define BT_SEL BT_SEL_CMD

/ {
	behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping_term_ms = <175>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };
		hr: hold_reset {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping_term_ms = <500>;
            flavor = "balanced";
            bindings = <&reset>, <&trans>;
        }
    };
	keymap {
		compatible = "zmk,keymap";

		default_layer {
// ------------------------------------------------------------------------------------------------------------
// | RST |  W  |  E  |  R  |  T  | BT  |                  | BT  |  Y   |  U    |  I    |  O   |  RST |
// |  Q  |  S  |  D  |  F  |  G  | NOP |                  | NOP |  H   |  J    |  K    |  L   |   P  |
// |  A	 |  X  |  C  |  V  |  B  | NOP |                  | NOP |  N   |  M    |  ,    |  .   |   '  |
// |  Z	 | NOP | NOP | ESC | SPC | TAB |                  | ENT | BSPC |  DEL  |  NOP  |  NOP |  /   |
			bindings = <
&hr 		&kp W   	&kp E   	&kp R    	 &kp T   	  &mo BLE			&mo BLE			&kp Y			&kp U		 	&kp I     		&kp O			&hr
&kp Q		&hm LALT S	&hm LCTL D	&hm LSFT F	 &kp G   	  &trans			&trans 			&kp H			&hm LSFT J	 	&hm LCTL K		&hm LALT L		&kp P
&hm LGUI A 	&hm RALT X  &kp C   	&kp V    	 &kp B   	  &trans			&trans 			&kp N			&kp M		 	&kp CMMA  		&hm RALT DOT	&hm LGUI QUOT
&kp Z 		&trans		&trans  	&lt MEDR ESC &lt NAVR SPC &lt MOUS			&lt SYMB RET	&lt NUM BKSP	&lt FUNC DEL	&trans  		&trans			&kp FSLH
			>;
		};

		media_layer {
// ------------------------------------------------------------------------------------------------------------
// |     |     |     |      |      |      |                   |      |      |      |      |       |       |
// |     |     |     |      |      |      |                   |      |      | PREV | VOL- | VOL+  | NEXT  |
// |     |     |     |      |      |      |                   |      |      |      |      |       |       |
// |     |     |     |      |      |      |                   | STOP | PLAY | MUTE |      |       |       |
			bindings = <
&trans &trans &trans &trans &trans &trans					&trans 		&trans 		&trans  	&trans 		&trans 		&trans
&trans &trans &trans &trans &trans &trans					&trans    	&trans		&cp M_PREV 	&cp M_VOLD	&cp M_VOLU  &cp M_NEXT
&trans &trans &trans &trans &trans &trans					&trans   	&trans  	&trans   	&trans    	&trans  	&trans
&trans &trans &trans &trans &trans &trans					&cp M_STOP	&cp M_PLAY	&cp M_MUTE 	&trans		&trans  	&trans
			>;
		};

		navigation_layer {
// ------------------------------------------------------------------------------------------------------------
// |     |     |     |      |      |      |                   |       |      | UNDO | CUT  | COPY | PASTE |
// |     |     |     |      |      |      |                   |       | CAPS | LEFT | DOWN | UP   | RIGHT |
// |     |     |     |      |      |      |                   |       | INS  | HOME | PGDN | PGUP | END   |
// |     |     |     |      |      |      |                   |       | ENT  | BSPC | DEL  |      |       |
			bindings = <
&trans &trans &trans &trans &trans &trans					&trans		&trans 		&kp UNDO	&kp CUT  	&kp COPY 	&kp PSTE
&trans &trans &trans &trans &trans &trans					&trans		&kp CLCK   	&kp LARW 	&kp DARW	&kp UARW  	&kp RARW
&trans &trans &trans &trans &trans &trans					&trans		&kp INS   	&kp HOME  	&kp PGDN   	&kp PGUP   	&kp END
&trans &trans &trans &trans &trans &trans					&kp RET		&kp BKSP	&kp DEL 	&trans		&trans		&trans
			>;
		};

		mouse_layer {
// ------------------------------------------------------------------------------------------------------------
// |     |     |     |      |      |      |                   |     |     |     |      |      |      |
// |     |     |     |      |      |      |                   |     |     |     |      |      |      |
// |     |     |     |      |      |      |                   |     |     |     |      |      |      |
// |     |     |     |      |      |      |                   |     |     |     |      |      |      |
			bindings = <
&trans &trans &trans &trans &trans &trans					&trans &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans					&trans &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans					&trans &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans					&trans &trans &trans &trans &trans &trans
			>;
		};

		number_layer {
// ------------------------------------------------------------------------------------------------------------
// |  [  |  7  |  8  |  9  |  ]  |     |                   |     |     |     |      |      |      |
// |  ;  |  4  |  5  |  6  |  =  |     |                   |     |     |     |      |      |      |
// | "#" |  1  |  2  |  3  |  \  |     |                   |     |     |     |      |      |      |
// |     |     |     |  .  |  0  |  -  |                   |     |     |     |      |      |      |
			bindings = <
&kp LBKT	&kp NUM_7	&kp NUM_8	&kp NUM_9 	&RBKT 		&trans					&trans &trans &trans &trans &trans &trans
&kp SCLN	&kp NUM_4	&kp NUM_5	&kp NUM_6 	&EQL 		&trans					&trans &trans &trans &trans &trans &trans
&kp TILD	&kp NUM_1	&kp NUM_2	&kp NUM_3 	&BSLH 		&trans					&trans &trans &trans &trans &trans &trans
&trans 		&trans 		&trans 		&kp DOT		&kp NUM_0 	&kp MINUS				&trans &trans &trans &trans &trans &trans
			>;
		};

		symbol_layer {
// ------------------------------------------------------------------------------------------------------------
// |  {  |  &  |  *  |  (  |  }  |     |                   |     |     |     |      |      |      |
// |  :  |  $  |  %  |  ^  |  +  |     |                   |     |     |     |      |      |      |
// |  ~  |  !  |  "  |  £  | PIPE|     |                   |     |     |     |      |      |      |
// |     |     |     |  (  |  )  |  _  |                   |     |     |     |      |      |      |
			bindings = <
&lsft RBKT	&lsft NUM_7	&lsft NUM_8	&lsft NUM_9 &lsft RBKT	&trans					&trans &trans &trans &trans &trans &trans
&lsft SCLN	&lsft NUM_4	&lsft NUM_5	&lsft NUM_6 &lsft EQL	&trans					&trans &trans &trans &trans &trans &trans
&lsft TILD	&lsft NUM_1	&lsft NUM_2	&lsft NUM_3 &lsft BSLH	&trans					&trans &trans &trans &trans &trans &trans
&trans 		&trans 		&trans 		&lsft NUM_9	&lsft NUM_0 &lsft MINUS				&trans &trans &trans &trans &trans &trans
			>;
		};

		function_layer {
// ------------------------------------------------------------------------------------------------------------
// | F12 |  F7 |  F8 | F9 | PSCR|     |                   |     |     |     |      |      |      |
// | F11 |  F4 |  F5 | F6 | SCLK|     |                   |     |     |     |      |      |      |
// | F10 |  F1 |  F2 | F3 | PAUS|     |                   |     |     |     |      |      |      |
// |     |     |     | APP| SPC | TAB |                   |     |     |     |      |      |      |
			bindings = <
&kp F12	&kp F7	&kp F8	&kp F9 	&PRSC 	&trans				&trans &trans &trans &trans &trans &trans
&kp F11	&kp F4	&kp F5	&kp F6 	&SCLK 	&trans				&trans &trans &trans &trans &trans &trans
&kp F10	&kp F1	&kp F2	&kp F3 	&PAUS 	&trans				&trans &trans &trans &trans &trans &trans
&trans 	&trans 	&trans 	&kp GUI	&kp SPC &kp TAB				&trans &trans &trans &trans &trans &trans
			>;
		};

		ble_layer {
// ------------------------------------------------------------------------------------------------------------
// |     |     |     |      |      |      |                   |      |BT_SEL 0	|BT_SEL 1	|BT_SEL 2	|BT_SEL 3	|BT_SEL 4	|
// |     |     |     |      |      |      |                   |      |BT_CLR	|BT_NXT		|BT_PRV		|      		|      		|
// |     |     |     |      |      |      |                   |      |     		|      		|      		|      		|      		|
// |     |BOOT |     |      |      |      |                   |      |     		|      		|      		|BOOT		|      		|
			bindings = <
&trans &trans 		&trans &trans &trans &trans					&trans &bt BT_SEL 0 &bt BT_SEL 1 	&bt BT_SEL 2 	&bt BT_SEL 3	&bt BT_SEL 4
&trans &trans 		&trans &trans &trans &trans					&trans &bt BT_CLR 	&bt BT_NXT 		&bt BT_PRV 		&trans 			&trans
&trans &trans 		&trans &trans &trans &trans					&trans &trans 		&trans 			&trans 			&trans 			&trans
&trans &bootloader 	&trans &trans &trans &trans					&trans &trans 		&trans 			&trans 			&bootloader 	&trans
			>;
		};
	};
};
